.container {
  padding: 0;
}

.content-area > div {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
}

body {
  color: #504f4f;
  font-family: "Titillium Web";
}

.btn__content {
  font-family: "Titillium Web";
}

.btn--large {
  font-size: 20px;
}

