// mixin 
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}



// Variables
$content-width: 1000px;

//colors
$primary-color:		#2d870c;
$primary-light:		#4f9257;
$primary-light2:	#caecc8;
$primary-dark:		#174606;
$secondary-color:	#fe9924;
$content-background:#c0c0c0;
$title-color:		#504f4f;
$body-color-light:	#f0f0f0;

// Fonts
$title-font:		'Titillium Web';
