// Variables
@import "variables";

.container {
    padding: 0;
}

.content-area {
    
    &>div{
        width: $content-width;
        margin: 0 auto;
        background-color: #fff;
        height: 100%;
    }
}

body {
    color: $title-color;
    font-family: $title-font;
}

.btn__content {
    font-family: $title-font;
}

.btn--large {
    font-size: 20px;
}

section {

    &.content-area > div {
        padding: 50px 30px;
    }

    h2 {
        color: $title-color;
        font-size: 35px;
        line-height: 31px;
        font-family: $title-font;
        font-weight: 300;
        margin-bottom: 20px;

        strong {
            font-weight: 700;    
            display: block;
            margin-left: 63px;   
        }
    }
}